/* Red #ff0000 */
/* Yellow #fff001 */
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v11/l1cOQ90roY9yC7voEhngDIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 300;
  src: local('Oswald Light'), local('Oswald-Light'), url(http://fonts.gstatic.com/s/oswald/v11/HqHm7BVC_nzzTui2lzQTDZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v11/Qw6_9HvXRQGg5mMbFR3Phn-_kf6ByYO6CLYdB4HQE-Y.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://fonts.gstatic.com/s/oswald/v11/_P8jt3Y65hJ9c4AzRE0V1OvvDin1pK8aKteLpeZ5c0A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v11/dI-qzxlKVQA6TUC5RKSb34X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: local('Oswald Bold'), local('Oswald-Bold'), url(http://fonts.gstatic.com/s/oswald/v11/bH7276GfdCjMjApa_dkG6ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v12/zC5wshnbTgKRFD8TSph4ThTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v12/X00Uu4j5wCkAah-8WWwkwhTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v12/HLcLeTCTRM6EkKwMzR-6nRTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v12/7u-jQO9NmsNhx0n41DZrJxTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v12/i6coE7wls0oID1W3eLyu5RTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v12/8qcEw_nrk_5HEcCpYdJu8BTbgVql8nDJpwnrE27mub0.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v12/MDadn8DQ_3oT6kvnUq_2r_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v12/bjFlYuEDy5xMKNV945l6IVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v12/z_VZPTN8i-gVtisLEQRrZ1KPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v12/cWhngWA4dTnoviei-rHRNVKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v12/xfu7qt97x_g6cXxCuXRk6VKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v12/Ct49gQ_HE9mdjxsa3O-oV1KPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v12/rZPI2gHXi8zxUjnybc2ZQFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(http://fonts.gstatic.com/s/lato/v12/MgNNr5y1C_tIEuLEmicLmwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@media (min-width: 960px){
    .container{
        width: 90%;
    }
}

@media (min-width: 768px){
    
    .navbar-default{
        background-color: #ff0000 !important;
    }
    .nav li a{
        height: 35px !important;
        background-color: #000 !important;
/*        margin-right: 3px;*/
    }
    .navbar-header{
        height: 30px !important;
    }
    .navbar{
        height: 125px !important;
    }
    .navbar .container{
        margin-top: 20px;
    }
    #home{
        margin-top: 55px !important;
    }
    .navbar-default .nav li a{
        font-family: 'Oswald';
        font-weight: 500 !important;
        font-size: 12px;
        letter-spacing: 2px;
        color: #fff !important;
        border-radius: 3px;
        line-height: 7px !important;
    }
    .navbar-default .navbar-brand{
        line-height: 5px !important;
    }
}
@media screen and (max-width: 768px) {
    .main_header{
        margin-top: 10px !important;
    }
    .subpage_main_header{
        margin-top: 10px !important;
    }
    .sub_header{
        text-align: center !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .three_column_description{
        border-bottom: 1px solid #333 !important;
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .three_column_description_style2{
        border-top: 0 !important;
        border-bottom: 1px solid #333 !important;
        
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .logo_holder {
        background-color: #ff0000 !important;
        padding-left: 15px !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
        position: static !important;
        top: 0 !important;
        }
    .logo_holder img{
        padding-top: 0;
        padding-bottom: 0;
    }
    .footer_logo_holder{
        border: 0!important;
    }
    .footer_content{
        margin-top: 10px;
    }
    .mob_container{
        padding-left: 0 !important;
        padding-top: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 0 !important;
    }
    .navbar-collapse{
        background: #000 !important;
    }
    .navbar-default .nav li {
        width: 100% !important;
        background-color: #ff0000;
    }
    .navbar-default .nav li:hover {
        background-color: #000000;
    }
    .navbar-default .nav li a.current {
        color: #000;
    }
    .navbar-default .nav li a:hover {
        color: #ffffff;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background: #000;
    }
    .navbar-default .navbar-toggle {
        position: relative;
        top: 30px;
    }
    .image_holder{
        text-align: center !important;
    }
    .menu_holder{
        float: none !important;
        width: 105% !important;
    }
    .navbar-nav li.active{
        border-radius: 0 !important
    }
    .navbar-default .navbar-nav>.active>a{
        background-color: #ff0000 !important;
    }
    .dropdown-menu{
        width: 100% !important;
    }
    .video_header{
        padding-top: 10px !important;
        padding-bottom: 25px !important;
        border-bottom: 1px solid #333 !important;
    }
}
.nav>li>a{
    padding: 15px 10px !important;
}
.navbar-nav li.active{
    border: 2px solid #ffffff !important;
    border-radius: 5px;
}
.navbar-nav li.inactive{
    border: 2px solid transparent !important;;
}

.image_holder{
    text-align: left;
}
.image_holder img{
    width: 100% !important;
}
.slogan{
    font-family: 'Lato';
    font-weight: 800;
    color: #000;
    font-size: 13px;
}
#divider,#feature{
    padding-bottom: 20px !important;
}
#SliderNameNavigation_2{
/*
    position: relative;
    top: -50px;
*/
    overflow-y: visible !important;
}
#slider_container_2{
    background: none !important;
    padding: 0 !important;
    margin: 0 !important;
}
.home_pattern_1{
    background-image: url("/assets/images/home_pg_pattern_1.png") !important;
}
.title_under_line{
    padding-bottom: 10px;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
}
.title_under_line_left_portion{
    padding-bottom: 4px;
    border-bottom: 1px solid #333333;
    margin-bottom: 10px;
}
.page_title{
    font-family: 'Oswald';
    font-size: 15px;
    color:#ff0000;
    font-weight: 400;
}
.main_header{
    height: 20px;
    float: left;
}
.subpage_main_header{
    height: 30px;
    text-align: left;
}
.sub_header{
    height: 10px;
    text-align: left;
    cursor: pointer;
}
.sub_header:hover{
    color: #fff !important;
}
.home_pattern_2{
    background-color: #000 !important;
}
.scheduled_data .fa{
    color: #fff !important;
    font-size: 15px !important;
}
#feature{
    padding-top: 20px !important;
    border-top: 1px solid #333;
}
.three_column_description_style2{
    text-align: justify;
    font-family: 'Lato';
    color: #fff !important;
    font-size: 13px;
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #333;
    word-spacing: -1px;
}
.three_column_description{
    text-align: left;
    font-family: 'Lato';
    color: #fff !important;
    font-size: 13px;
    word-spacing: -1px;
    margin-top: 15px;
}
.focued_text{
    color: #fff !important;
}
.read_more_holder{
    padding-top: 15px;
    text-align: right;
}
.read_more{
    border: 1px solid #333;
    padding: 5px;
    border-radius: 5px;
    color: #ff0000;
    font-size: 13px;
    text-decoration: none !important;
}
.read_more:hover{
    color: #fff;
}
.logo_holder{
    padding: 10px;
/*    background-color: #000;*/
    position: absolute;
    top: -10px;
}
.logo_holder img{
/*    margin-top: 15px;*/
}
footer{
    background-color: #000 !important;
}
.footer_logo_holder{
    border-right: 1px solid #333;
}
.footer_logo{
    float: left;
}
.footer_content{
    text-align: left;
    float:right;
    font-style: italic;
    font-family: 'Lato';
    font-size: 13px;
    color: #fff;
}
.footer_yellow_text{
    color:#ff0000;
}
.SliderNamePrev_2,.SliderNameNext_2{
    top:-25px !important;
}
.about_us_page{
    margin-top: 80px;
}
.menu_holder{
    float:right;
    width: 78%;
}
#video_divider{
    padding-top: 20px;
    padding-bottom: 40px;
}
.video_header{
    padding-top: 5px;
}
.schedule_table>thead>tr>th{
    background-color: #ff0000 !important;
    border-bottom: 1px solid #ff0000 !important;
}
.Selected{
    background-color: #000000 !important;
}
.schedule_table>tbody>tr>td{
    border-color: #000000;
    color: #ffffff !important;
    text-align: left;
    text-transform: uppercase !important;
}
.schedule_table>tbody>tr>td:hover > .chevron_right{
    color: #ffffff !important;
}
.schedule_table>tbody>tr>td:hover{
    background-color: #000000 !important;
    color: #fff !important;
    cursor: pointer;
}
.schedule_table{
    background-color:#333333;
}
.chevron_right{
    float: right;
    color: transparent;
    font-size: 25px;
    font-weight: 100 !important;
    height: 10px;
    margin-top: -8px;
}
.schedule_list{
    margin-top: 20px;
}
.btn-view-all-schedule{
    font-family: 'Lato' !important;
    color: #000 !important;
    float: left;
    border: none !important;
    padding: 5px;
    background-color: #ff0000 !important;
}
.btn-buy-service{
    width: 60px;
    font-family: 'Lato' !important;
    color: #000 !important;
    background-color: #ff0000 !important;
    border: none !important;
    height: 23px;
    line-height: 21px;
}

.schedule_wrapper{
/*
    overflow-y: scroll;
    height: 300px;
*/
}
.scheduled_day{
    float:left;
    color:#ff0000;
    font-size:13px;
    font-weight:bold;
}
.scheduled_data{
    border-bottom:1px dotted #333;
    text-align:left;
    padding-top:8px;
    padding-bottom:8px;
    font-family:'Lato';
    font-weight:500
}
.scheduled_time{
    float: right;
}
.schedule_column_description{
    margin-top: 10px;
    display: block;
    color: #ffffff !important;
}
.Clicked{
    display: block !important;
}
.form-horizontal label{
    color: #fff !important;
}
.form-horizontal .address{
    width: 100%;
}
.form-horizontal #appointment_remark{
    width: 100%;
}
.select_picker{
    width: 100%;
}
label.error{
    font-family: 'Lato';
    font-size: 12px;
    color: #ff0000 !important;
}
.pac-container{
    top:415px !important
}
/*
.datepicker{
    top:257px !important;
}
*/
.reset_btn{
    width: 125px !important;
}
.dropdown-menu{
    background: #ff0000 !important;
}
.dropdown-menu li a{
    padding-top: 15px;
    text-align: center;
    border-bottom: 1px solid #333;
    border-radius: 0 !important;
}
.booking_menu{
    width: 160px !important;
}
.booking_menu .caret{
    float:right;
}
label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #ff0000;
}
#appointment_time, #appointment_date{
    background: #ff0000 !important;
}
.ui-timepicker-standard{
    top: 570px !important;
}
.service_prdct{
    text-align: left;
    width: 300px;
}
.xtra_h{
    min-height: 800px !important;
}
.service_prdct img{
    background-color: #fff;
    border: 2px solid #333
}
.detail_product_heading{
    height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px dotted #555;
    margin-bottom: 5px;
    text-align: center;
}
.quantity_selector{
    color:#fff;
    font-size:13px;
    font-family:'Lato';
}
.product_heading{
    font-family: 'Lato';
    height: 60px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    border-bottom: 1px dotted #555;
    margin-bottom: 5px;
}
.product_attributes{
    margin-top: 2px;
    border-bottom: 1px dotted #555;
    height: 30px;
}
.product_amount{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.product_button{
    display: inline-block;
    float: right;
}
.yellow_chevron{
    font-size: 14px !important;
    color: #ff0000 !important;
}
.schedule_item span{
    float: right !important;
}
.titlebar a{
    float: left;
    color: #ff0000 !important;
}
.gallery{
    width: 100% !important;
    background-color: transparent !important;
    padding: 0 !important;
}
.gallery .thumb{
    margin: 7px !important;
}
.gallery .thumb-album a{
    color: #ff0000 !important;
}

.gallery .thumb-album:hover{
    background-color: #555555 !important;
}
.gallery .thumb-wrapper{
    height: 100px !important;
}
.gallery a:link, .gallery a:active, .gallery a:visited,.gallery a.current-paginate, .gallery a.paginate:hover {
    color: #ff0000 !important;
}
.gallery_page{
    min-height: 600px;
}