.admin_wrapper{
    min-height: 450px; 
}
.video_gallery iframe{
    margin: 0 auto;
}
.video_gallery{
    text-align: center;
    border: 1px dashed rgba(27, 57, 204, 0.22);
    padding: 20px;
}
.alert{
    height: 52px !important;
}
.modal-header{
    font-weight: bold;
}
.error{
    color: red !important;
    font-weight: bold;
}